/node_modules
/public/hot
/public/images
/public/uploads
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/node.fastlobby.com/_node_modules
/node.fastlobby.com/node_modules
/storage
/storage/framework
# /storage